body{
	text-align:center;
	background-color: red;
	font-family: sans-serif;
}
.container{
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 7vh;

	
	background-color: white;
	border-radius: 45px;
}
