<!DOCTYPE html>
<html>
<head>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Math API</title>
</head>

<body>
	<h1>Math API</h1>
	<p>
		<input type = "number" id = "num1" value = "2">
		<select id = "operator">
		<option value = "+">+</option>
		<option value = "=">-</option>
		<option value = "*">*</option>
		<option value = "/">/</option>
		</select>
		<input type = "number" id = "num2" value = "4">
		= <span id = "result"></span>
	</p>
</body>
</html>
